<div *ngIf="!loading">
  <div>
    <h1>Historique des ventes</h1>
    <mat-radio-group [formControl]="selectedValue">
      <mat-radio-button value="bovin" color="primary">Bovins</mat-radio-button>
      <mat-radio-button value="fauche" color="primary">Fauche</mat-radio-button>
    </mat-radio-group>
  </div>

  <div *ngIf="selectedValue.value==='bovin'">

    <table mat-table *ngIf="!loading" [dataSource]="venteBovin">

      <ng-container matColumnDef="annee">
        <th mat-header-cell *matHeaderCellDef> Année </th>
        <td mat-cell *matCellDef="let vente"> {{vente.dateDeVente|date : 'yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let vente"> {{vente.dateDeVente|date : 'd/M/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="numeroIdentification">
        <th mat-header-cell *matHeaderCellDef> Numéro d'identification </th>
        <td mat-cell *matCellDef="let vente"> {{vente.bovin}} </td>
      </ng-container>

      <ng-container matColumnDef="quantite">
        <th mat-header-cell *matHeaderCellDef> Quantité </th>
        <td mat-cell *matCellDef="let vente"> {{vente.quantite}} kg </td>
      </ng-container>

      <ng-container matColumnDef="prixRevente">
        <th mat-header-cell *matHeaderCellDef> Prix de revente </th>
        <td mat-cell *matCellDef="let vente"> {{vente.prixRevente}} €</td>
      </ng-container>

      <ng-container matColumnDef="prixCoutant">
        <th mat-header-cell *matHeaderCellDef> Prix coutant </th>
        <td mat-cell *matCellDef="let vente"> {{vente.prixCoutant}} €</td>
      </ng-container>

      <ng-container matColumnDef="modifier">
        <th mat-header-cell *matHeaderCellDef > Modifier </th>
        <td mat-cell *matCellDef="let vente"> <button (click)="onUpdateBovin(vente.id)">Modifier</button></td>
      </ng-container>

      <ng-container matColumnDef="supprimer">
        <th mat-header-cell *matHeaderCellDef > Supprimer </th>
        <td mat-cell *matCellDef="let vente"> <button (click)="onDeleteBovin(vente.id)">Supprimer</button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsBovin"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsBovin;"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>

  </div>

  <div *ngIf="selectedValue.value==='fauche'">


    <table mat-table *ngIf="!loading" [dataSource]="venteFauche">

      <ng-container matColumnDef="annee">
        <th mat-header-cell *matHeaderCellDef> Année </th>
        <td mat-cell *matCellDef="let vente"> {{vente.dateDeVente|date : 'yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let vente"> {{vente.dateDeVente|date : 'd/M/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="culture">
        <th mat-header-cell *matHeaderCellDef> Culture - Type </th>
        <td mat-cell *matCellDef="let vente"> {{vente.faucheDTO.cultureDTO.typeDeGrainDTO.nomGrain}} - {{vente.faucheDTO.cultureDTO.champ.lieu}} </td>
      </ng-container>

      <ng-container matColumnDef="quantite">
        <th mat-header-cell *matHeaderCellDef> Quantité </th>
        <td mat-cell *matCellDef="let vente"> {{vente.quantite}} kg </td>
      </ng-container>

      <ng-container matColumnDef="prixRevente">
        <th mat-header-cell *matHeaderCellDef> Prix de revente </th>
        <td mat-cell *matCellDef="let vente"> {{vente.prixRevente}} €</td>
      </ng-container>

      <ng-container matColumnDef="prixCoutant">
        <th mat-header-cell *matHeaderCellDef> Prix coutant </th>
        <td mat-cell *matCellDef="let vente"> {{vente.prixCoutant}} €</td>
      </ng-container>

      <ng-container matColumnDef="modifier">
        <th mat-header-cell *matHeaderCellDef > Modifier </th>
        <td mat-cell *matCellDef="let vente"> <button (click)="onUpdateFauche(vente.id)">Modifier</button></td>
      </ng-container>

      <ng-container matColumnDef="supprimer">
        <th mat-header-cell *matHeaderCellDef > Supprimer </th>
        <td mat-cell *matCellDef="let vente"> <button (click)="onDeleteFauche(vente.id)">Supprimer</button></td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumnsFauche"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsFauche;"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>

  </div>

</div>

<div *ngIf="loading">
  ... Loading
</div>
