<div class="form">
  <form class="example-form" style="padding-left: 20px">
    Vaccination du bovin
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>n°</mat-label>
      <input type="text"
             placeholder="n°"
             aria-label="Information pour le bovin n°"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async"
                    [value]="option" (click)="OnBovinSelected(option)">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <div *ngIf="carnet && !loading">
    <form [formGroup]="form" (ngSubmit)="OnSubmit()">
      <table class="table">
        <thead>
        <tr>
          <th>Vaccination</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            Nom du vaccin:
          </td>
          <td>
            <select formControlName="vaccination">
              <option *ngFor="let vaccination of carnet"
                      [value]="vaccination.nom">{{vaccination.nom}}</option>
            </select>
          </td>
          <td></td>
        </tr>
        <tr *ngIf="vaccin">
          <td>
            Dosage:
          </td>
          <td>
            {{vaccin.dosage}}
          </td>
          <td></td>
        </tr>
        <tr *ngIf="vaccin">
          <td>
            Numéro de la dose:
          </td>
          <td>
            {{vaccination.doseAdministrees+1}}
          </td>
          <td>
            <button type="submit" [disabled]="!vaccin.actif">Envoyer</button>
          </td>
        </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>

<div *ngIf="loading">
  loading
</div>

