.identification{
  float: left;
  width: 50%
}

.aCommeMaladie{
  padding-top: 10px;
  float: right;
  width: 45%
}

.infosComplementaires{
  padding-top: 10px;
  float: left;
  width: 50%
}

.infosReproduction{
  padding-top: 10px;
  float: right;
  width: 45%
}

.infosEngraissement{
  padding-top: 10px;
  float: right;
  width: 45%
}
