.identification{
  float: left;
  width: 55%
}

.vaccination{
  float: right;
  border: solid 0.5px black;
  border-radius: 5px;
  width: 40%
}

.aCommeMaladie{
  padding-top: 10px;
  float: left;
  width: 55%
}
