<div>
  <h2>Paramètres supplémentaires</h2>

  <div class ="race">
    <h3>Races</h3>

    <div class = "listeRace">
      <th>Modifier une race</th>
      <br>

      <form [formGroup]="formRaceId" class="selection">
        <mat-form-field appearance="outline" style="padding-right: 10px">
          <mat-label>Race</mat-label>
          <mat-select formControlName="raceId">
            <mat-option *ngFor="let race of races$ | async"
                        [value]="race.id">{{race.nom}}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>

      <form [formGroup]="formRace" (submit)="enregistrerModifRace()" class="selected">
        <mat-form-field appearance="outline" style="padding-right: 10px">
          <mat-label>Nom</mat-label>
          <input type="text" matInput formControlName="nom">
        </mat-form-field>
        <button mat-raised-button type="submit" [disabled]="!formRace.valid || formRace.untouched">Modifier</button>
      </form>
    </div>

    <div class = "addRace">
      <th>Ajouter une race:</th>
      <br>

      <div>
        <mat-form-field appearance="outline" style="padding-right: 10px">
          <mat-label>Nom</mat-label>
          <input type="text" matInput [(ngModel)]="nomRace">
        </mat-form-field>
        <button mat-raised-button (click)="enregistrerRace()" [disabled]="nomRace.length===0"> Ajouter </button>
      </div>
    </div>
  </div>

  <div class="maladie">
    <h3>Maladies</h3>

    <div class = "listeMaladie">
      <th>Modifier une maladie</th>
      <br>

      <form [formGroup]="formMaladieId" class="selection">
        <mat-form-field appearance="outline" style="padding-right: 10px">
          <mat-label>Maladie</mat-label>
          <mat-select formControlName="maladieId">
            <mat-option *ngFor="let maladie of maladies$ | async"
                        [value]="maladie.id">{{maladie.nom}}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>

      <form [formGroup]="formMaladie" (submit)="enregistrerModifMaladie()" class="selected">
        <mat-form-field appearance="outline" style="padding-right: 10px">
          <mat-label>Nom</mat-label>
          <input type="text" matInput formControlName="nom">
        </mat-form-field>
        <button mat-raised-button type="submit" [disabled]="!formMaladie.valid || formMaladie.untouched">Modifier</button>
      </form>
    </div>

    <div class = "addMaladie">
      <th>Ajouter une maladie:</th>
      <br>

      <div>
        <mat-form-field appearance="outline" style="padding-right: 10px">
          <mat-label>Nom</mat-label>
          <input type="text" matInput [(ngModel)]="nomMaladie">
        </mat-form-field>
        <button mat-raised-button (click)="enregistrerMaladie()" [disabled]="nomMaladie.length===0"> Ajouter </button>
      </div>
    </div>
  </div>

  <div class="traitement">
    <h3>Traitements</h3>

    <div class = "listeTraitement">
      <th>Modifier un traitement</th>
      <br>

      <form [formGroup]="formTraitementId" class="selection">
        <mat-form-field appearance="outline" style="padding-right: 10px">
          <mat-label>Traitement</mat-label>
          <mat-select formControlName="traitementId">
            <mat-option *ngFor="let traitement of traitements$ | async"
                        [value]="traitement.id">{{traitement.nomTraitement}}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>

      <form [formGroup]="formTraitementUpdate" (submit)="enregistrerModifTraitement()" class="selected">
        <mat-form-field appearance="outline" style="padding-right: 10px">
          <mat-label>Nom</mat-label>
          <input type="text" matInput formControlName="nomTraitement">
        </mat-form-field>
        <mat-checkbox formControlName="actif" color="primary">Actif</mat-checkbox>
        <button mat-raised-button type="submit" [disabled]="!formTraitementUpdate.valid || formTraitementUpdate.untouched " style="margin-left: 10px">Modifier</button>
      </form>
    </div>

    <div class = "addTraitement">
      <th>Ajouter un traitement:</th>
      <br>

      <form [formGroup]="formTraitement" (submit)="enregistrerTraitement()">
        <mat-form-field appearance="outline" style="padding-right: 10px">
          <mat-label>Nom</mat-label>
          <input type="text" matInput formControlName="nomTraitement">
        </mat-form-field>
        <mat-checkbox formControlName="actif" color="primary">Actif</mat-checkbox>
        <button type="submit" mat-raised-button [disabled]="!formTraitement.valid || formTraitement.pristine" style="margin-left: 10px">Ajouter</button>
      </form>
    </div>
  </div>

  <div class="melange">
    <h3>Mélanges</h3>

    <div class = "listeMelange">
      <th>Modifier un mélange</th>

      <br>

      <div>
        <form [formGroup]="formMelangeId" class="selection">
          <mat-form-field appearance="outline" style="padding-right: 10px">
            <mat-label>Mélange</mat-label>
            <mat-select formControlName="melangeId">
              <mat-option *ngFor="let melange of melanges$ | async"
                          [value]="melange.id">{{melange.nomMelange}}</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>

      <div style="float: left">
        <form [formGroup]="formMelangeUpdate" (submit)="enregistrerModifMelange()" class="selected">
          <mat-form-field appearance="outline" style="padding-right: 10px">
            <mat-label>Nom</mat-label>
            <input type="text" matInput formControlName="nomMelange">
          </mat-form-field>
          <mat-form-field appearance="outline" style="padding-right: 10px">
            <mat-label>Description</mat-label>
            <textarea matInput
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="5"
                      formControlName="description"></textarea>
          </mat-form-field>
          <button mat-raised-button type="submit" [disabled]="!formMelangeUpdate.valid || formMelangeUpdate.untouched " style="margin-left: 10px">Modifier</button>
        </form>
      </div>
    </div>

    <div class = "addMelange">
      <th>Ajouter un Melange:</th>
      <br>

      <div>
        <form [formGroup]="formMelange" (submit)="enregistrerModifMelange()">
          <div>
            <mat-form-field appearance="outline" style="padding-right: 10px">
              <mat-label>Nom</mat-label>
              <input type="text" matInput formControlName="nomMelange">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="outline" style="padding-right: 10px">
              <mat-label>Description</mat-label>
              <textarea matInput
                        cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5"
                        formControlName="description"></textarea>
            </mat-form-field>
            <button mat-raised-button type="submit" [disabled]="!formMelange.valid || formMelange.untouched " style="margin-left: 10px">Modifier</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

