h3{
  text-align: left;
  border-bottom: solid black 1px;
}

.race{
  float:left;
  width: 80%;
}

.listeRace{
  width: 48%;
  float: left;
}
.addRace{
  width: 48%;
  float: right;
}

.maladie{
  float:left;
  width: 80%;
}

.listeMaladie{
  width: 48%;
  float: left;
}
.addMaladie{
  width: 48%;
  float: right;
}

.traitement{
  float:left;
  width: 80%;
}

.listeTraitement{
  width: 48%;
  float: left;
}
.addTraitement{
  width: 48%;
  float: right;
}

.melange{
  float:left;
  width: 80%;
}

.listeMelange{
  width: 48%;
  float: left;
}
.addMelange{
  width: 48%;
  float: right;
}

.selection{
  float: left;
}

.selected{
  float: right;
}
