
<h1 color="primary">Nouvel utilisateur</h1>

<div class="form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="example-container" style="margin-right: 10px">
      <mat-form-field appearance="outline">
        <mat-label>Login:</mat-label>
        <input type="text" matInput formControlName="login">
      </mat-form-field>

      <mat-form-field appearance="outline" style="padding-left: 10px">
        <mat-label>Role:</mat-label>
        <mat-select formControlName="role" >
          <mat-option value="ADMIN"> Admin</mat-option>
          <mat-option value="GERANT"> Gérant</mat-option>
          <mat-option value="EMPLOYE"> Employé</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="example-container">
      <mat-form-field  appearance="outline" style="padding-right: 10px">
        <mat-label>Password:</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field  appearance="outline">
        <mat-label>Confirm Password:</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <br>

    <button type="submit" mat-stroked-button color="primary" [disabled]="!form.valid">envoyer</button>

  </form>
</div>
