<h1>Ferme de la croix blanche</h1>

<ul ngbNav #nav="ngbNav" class="nav-tabs justify-content">
  <li [ngbNavItem]="1" *ngIf="roleConnected">
    <a ngbNavLink routerLink="/home" routerLinkActive="active"><mat-icon>home</mat-icon></a>
  </li>
  <li [ngbNavItem]="2" ngbDropdown class="nav-item" *ngIf="roleConnected">
    <a class="nav-link" ngbDropdownToggle routerLinkActive="active">Bovins</a>
    <div ngbDropdownMenu>
      <button ngbDropdownItem routerLink="/bovin/add" routerLinkActive="active" *ngIf="roleConnected==='ADMIN' || roleConnected==='GERANT'">Ajouter un bovin</button>
      <button ngbDropdownItem routerLink="/bovin/one" routerLinkActive="active" *ngIf="roleConnected">Informations d'un bovin</button>
      <button ngbDropdownItem routerLink="/bovin/genealogy" routerLinkActive="active" *ngIf="roleConnected">Généalogie d'un bovin</button>
      <button ngbDropdownItem routerLink="/bovin/update" routerLinkActive="active" *ngIf="roleConnected==='ADMIN' || roleConnected==='GERANT'">Modification d'un bovin</button>
      <div class="dropdown-divider" *ngIf="roleConnected==='ADMIN' || roleConnected==='GERANT'"></div>
      <button ngbDropdownItem routerLink="/sante/vaccination" routerLinkActive="active" *ngIf="roleConnected==='ADMIN' || roleConnected==='GERANT'">Ajouter une vaccination</button>
      <button ngbDropdownItem routerLink="/sante/gestion" routerLinkActive="active" *ngIf="roleConnected==='ADMIN' || roleConnected==='GERANT'">Gestion des vaccins</button>
      <button ngbDropdownItem routerLink="/sante/maladie" routerLinkActive="active" *ngIf="roleConnected==='ADMIN' || roleConnected==='GERANT'">Ajouter maladie/traitement à un bovin</button>
      <div class="dropdown-divider" *ngIf="roleConnected==='ADMIN' || roleConnected==='GERANT'"></div>
      <button ngbDropdownItem routerLink="/bovin/parametresSupp" routerLinkActive="active" *ngIf="roleConnected==='ADMIN' || roleConnected==='GERANT'">Paramètres supplémentaires</button>
    </div>
  </li>
  <li [ngbNavItem]="3" ngbDropdown class="nav-item" *ngIf="roleConnected">
    <a class="nav-link" ngbDropdownToggle routerLinkActive="active">Champs</a>
    <div ngbDropdownMenu>
      <button ngbDropdownItem routerLink="/champ/add" routerLinkActive="active" *ngIf="roleConnected==='ADMIN' || roleConnected==='GERANT'">Ajouter un champ</button>
      <button ngbDropdownItem routerLink="/champ/update" routerLinkActive="active" *ngIf="roleConnected">Modifier un champ</button>
      <div class="dropdown-divider" *ngIf="roleConnected"></div>
      <button ngbDropdownItem routerLink="/champ/culture/add" routerLinkActive="active" *ngIf="roleConnected==='ADMIN' || roleConnected==='GERANT'">Ajouter une mise en culture</button>
      <button ngbDropdownItem routerLink="/champ/culture/all" routerLinkActive="active" *ngIf="roleConnected">Historique d'un champ</button>
      <div class="dropdown-divider" *ngIf="roleConnected"></div>
      <button ngbDropdownItem routerLink="/champ/fauche/add" routerLinkActive="active" *ngIf="roleConnected==='ADMIN' || roleConnected==='GERANT'">Ajouter une fauche</button>
      <button ngbDropdownItem routerLink="/champ/fauche/all" routerLinkActive="active" *ngIf="roleConnected">Historique des fauches</button>
      <div class="dropdown-divider" *ngIf="roleConnected==='ADMIN' || roleConnected==='GERANT'"></div>
      <button ngbDropdownItem routerLink="/champ/parametresSupp" routerLinkActive="active" *ngIf="roleConnected==='ADMIN' || roleConnected==='GERANT'">Paramètres supplémentaires</button>
    </div>
  </li>
  <li [ngbNavItem]="4" ngbDropdown class="nav-item" *ngIf="roleConnected">
    <a class="nav-link" ngbDropdownToggle routerLinkActive="active">Vente</a>
    <div ngbDropdownMenu>
      <button ngbDropdownItem routerLink="/vente/add" routerLinkActive="active" *ngIf="roleConnected==='ADMIN' || roleConnected==='GERANT'">Ajouter une vente</button>
      <button ngbDropdownItem routerLink="/vente/all" routerLinkActive="active">Historique des ventes</button>
    </div>
  </li>
  <li [ngbNavItem]="5" ngbDropdown class="nav-item" *ngIf="roleConnected==='ADMIN' || roleConnected==='GERANT'">
    <a class="nav-link" ngbDropdownToggle routerLinkActive="active">Gestion du site</a>
    <div ngbDropdownMenu>
      <button ngbDropdownItem routerLink="/auth/register" routerLinkActive="active">Ajouter un utilisateur</button>
    </div>
  </li>
  <li [ngbNavItem]="6" class="login" *ngIf="!roleConnected">
    <a ngbNavLink routerLink="/auth/login" routerLinkActive="active"><mat-icon>login</mat-icon></a>
  </li>
  <li [ngbNavItem]="7" class="login" *ngIf="roleConnected">
    <a ngbNavLink routerLink="/auth/logout" style="color: red"><mat-icon>logout</mat-icon></a>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
