<h1>Ferme de la croix blanche</h1>

<ul ngbNav #nav="ngbNav" class="nav-tabs justify-content">
  <li [ngbNavItem]="1">
    <a ngbNavLink routerLink="/home"><mat-icon>home</mat-icon></a>
  </li>
  <li [ngbNavItem]="2" ngbDropdown class="nav-item">
    <a class="nav-link" ngbDropdownToggle>Bovins</a>
    <div ngbDropdownMenu>
      <button ngbDropdownItem routerLink="/bovin/add" routerLinkActive="active">Ajouter un bovin</button>
      <button ngbDropdownItem routerLink="/bovin/one" routerLinkActive="active">Informations d'un bovin</button>
      <button ngbDropdownItem routerLink="/bovin/genealogy" routerLinkActive="active">Généalogie d'un bovin</button>
      <button ngbDropdownItem routerLink="/bovin/update" routerLinkActive="active">Modification d'un bovin</button>
      <div class="dropdown-divider"></div>
      <button ngbDropdownItem routerLink="/sante/vaccination" routerLinkActive="active">Ajouter une vaccination</button>
      <button ngbDropdownItem routerLink="/sante/gestion" routerLinkActive="active">Gestion des vaccins</button>
      <div class="dropdown-divider"></div>
      <button ngbDropdownItem routerLink="/bovin/parametresSupp" routerLinkActive="active">Paramètres supplémentaires</button>
    </div>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
