<div *ngIf="!loading">
  <div>
    <h1>Ajouter une vente</h1>
    <mat-radio-group [formControl]="selectedValue">
      <mat-radio-button value="bovin" color="primary">Bovin</mat-radio-button>
      <mat-radio-button value="fauche" color="primary">Fauche</mat-radio-button>
    </mat-radio-group>
  </div>
  <div *ngIf="selectedValue.value==='bovin'">
    <form [formGroup]="formBovin" (ngSubmit)="onSubmit()">
      <h3>Ajout d'une vente</h3>

      <div class="form">
        <mat-form-field appearance="fill" style="padding-right: 10px">
          <mat-label>Numéro d'indentification</mat-label>
          <input type="text" matInput formControlName="numeroIdentification">
        </mat-form-field>

        <mat-form-field appearance="fill" style="padding-right: 10px">
          <mat-label>Quantité (kg)</mat-label>
          <input type="number" matInput formControlName="qtt">
        </mat-form-field>

        <mat-form-field appearance="fill" style="padding-right: 10px">
          <mat-label>Date</mat-label>
          <input type="date" matInput formControlName="date">
        </mat-form-field>

        <mat-form-field appearance="fill" style="padding-right: 10px">
          <mat-label>Prix coutant</mat-label>
          <input type="number" matInput formControlName="prixCoutant">
        </mat-form-field>

        <mat-form-field appearance="fill" style="padding-right: 10px">
          <mat-label>Prix de revente</mat-label>
          <input type="number" matInput formControlName="prixRevente">
        </mat-form-field>

        <button mat-raised-button type="submit" [disabled]="!formBovin.valid">Créer</button>
      </div>
    </form>
  </div>

  <div *ngIf="selectedValue.value==='fauche'">
    <form [formGroup]="formFauche" (ngSubmit)="onSubmit()">
      <h3>Ajout d'une vente</h3>

      <div class="form">

        <mat-form-field appearance="fill" style="padding-right: 10px">
          <mat-label>Années</mat-label>
          <mat-select [formControl]="annee">
            <mat-option  *ngFor="let annee of anneeFauche"
                         [value]="annee">{{annee}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" style="padding-right: 10px">
          <mat-label>Champ</mat-label>
          <mat-select formControlName="faucheId">
            <mat-option  *ngFor="let fauche of fauchesAnnee"
                         [value]="fauche.id">{{fauche.cultureDTO.typeDeGrainDTO.nomGrain}} - {{fauche.cultureDTO.champ.lieu}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" style="padding-right: 10px">
          <mat-label>Quantité</mat-label>
          <input type="number" matInput formControlName="qtt">
        </mat-form-field>

        <mat-form-field appearance="fill" style="padding-right: 10px">
          <mat-label>Date</mat-label>
          <input type="date" matInput formControlName="date">
        </mat-form-field>

        <mat-form-field appearance="fill" style="padding-right: 10px">
          <mat-label>Prix coutant</mat-label>
          <input type="number" matInput formControlName="prixCoutant">
        </mat-form-field>

        <mat-form-field appearance="fill" style="padding-right: 10px">
          <mat-label>Prix de revente</mat-label>
          <input type="number" matInput formControlName="prixRevente">
        </mat-form-field>

        <button mat-raised-button type="submit" [disabled]="!formFauche.valid">Créer</button>
      </div>
    </form>
  </div>

</div>



<div *ngIf="loading">
  ... Loading
</div>
