<form class="example-form">
  Généalogie du bovin
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>n°</mat-label>
    <input type="text"
           placeholder="n°"
           aria-label="Information pour le bovin n°"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async"
                  [value]="option" (click)="OnBovinSelected(option)">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-radio-group [formControl]="selectedValue">
    <mat-radio-button value="asc" (click)="Refresh()">Ascendante</mat-radio-button>
    <mat-radio-button value="dsc" (click)="Refresh()">Descendante</mat-radio-button>
  </mat-radio-group>
</form>


<div *ngIf="selectedValue.value==='asc'">
  <div *ngIf="bovin" class="main">
    <mat-card class="bovin">
      <mat-card-header>
        <mat-card-title>{{bovin.numeroInscription}}</mat-card-title>
        <mat-card-subtitle>Race: {{bovin.race.nom}}</mat-card-subtitle>
        <mat-card-subtitle>Poids a la naissance: {{bovin.poidsNaissance}}kg</mat-card-subtitle>
        <mat-card-subtitle>Nb césariennes: {{bovin.neCesarienne}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-icon-button><mat-icon>more_vert</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="parent">
    <div *ngIf="pere" class="pere">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{pere.numeroInscription}}</mat-card-title>
          <mat-card-subtitle>Race: {{pere.race.nom}}</mat-card-subtitle>
          <mat-card-subtitle>Poids a la naissance: {{pere.poidsNaissance}}kg</mat-card-subtitle>
          <mat-card-subtitle>Nb césariennes: {{pere.neCesarienne}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-icon-button><mat-icon>more_vert</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div *ngIf="mere" class="mere">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{mere.numeroInscription}}</mat-card-title>
          <mat-card-subtitle>Race: {{mere.race.nom}}</mat-card-subtitle>
          <mat-card-subtitle>Poids a la naissance: {{mere.poidsNaissance}}kg</mat-card-subtitle>
          <mat-card-subtitle>Nb césariennes: {{mere.neCesarienne}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-icon-button><mat-icon>more_vert</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="grand-parents">
      <div *ngIf="gpp" class="gpp">
        <mat-card class="bovin">
          <mat-card-header>
            <mat-card-title>{{gpp.numeroInscription}}</mat-card-title>
            <mat-card-subtitle>Race: {{gpp.race.nom}}</mat-card-subtitle>
            <mat-card-subtitle>Poids a la naissance: {{gpp.poidsNaissance}}kg</mat-card-subtitle>
            <mat-card-subtitle>Nb césariennes: {{gpp.neCesarienne}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
            <button mat-icon-button><mat-icon>more_vert</mat-icon></button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div *ngIf="gmp" class="gmp">
        <mat-card class="bovin">
          <mat-card-header>
            <mat-card-title>{{gmp.numeroInscription}}</mat-card-title>
            <mat-card-subtitle>Race: {{gmp.race.nom}}</mat-card-subtitle>
            <mat-card-subtitle>Poids a la naissance: {{gmp.poidsNaissance}}kg</mat-card-subtitle>
            <mat-card-subtitle>Nb césariennes: {{gmp.neCesarienne}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
            <button mat-icon-button><mat-icon>more_vert</mat-icon></button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div *ngIf="gpm" class="gpm">
      <mat-card class="bovin">
        <mat-card-header>
          <mat-card-title>{{gpm.numeroInscription}}</mat-card-title>
          <mat-card-subtitle>Race: {{gpm.race.nom}}</mat-card-subtitle>
          <mat-card-subtitle>Poids a la naissance: {{gpm.poidsNaissance}}kg</mat-card-subtitle>
          <mat-card-subtitle>Nb césariennes: {{gpm.neCesarienne}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-icon-button><mat-icon>more_vert</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div *ngIf="gmm" class="gmm">
      <mat-card class="bovin">
        <mat-card-header>
          <mat-card-title>{{gmm.numeroInscription}}</mat-card-title>
          <mat-card-subtitle>Race: {{gmm.race.nom}}</mat-card-subtitle>
          <mat-card-subtitle>Poids a la naissance: {{gmm.poidsNaissance}}kg</mat-card-subtitle>
          <mat-card-subtitle>Nb césariennes: {{gmm.neCesarienne}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-icon-button><mat-icon>more_vert</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<div *ngIf="selectedValue.value==='dsc'">

  <div *ngIf="enfants" class="enfants">

    <table class="table">
      <thead>
      <tr>
        <th>Enfants</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th scope="col">Numéro d'identification</th>
        <th scope="col">Race</th>
        <th scope="col">Date de naissance</th>
        <th scope="col">Poids à la naissance</th>
        <th scope="col">Nombre de maladies</th>
        <th scope="col">Sur site</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let bovin of enfants">
        <td>
          {{bovin.numeroInscription}}
        </td>
        <td>
          {{bovin.race.nom}}
        </td>
        <td>
          {{bovin.dateDeNaissance}}
        </td>
        <td>
          {{bovin.poidsNaissance}}
        </td>
        <td>
          {{bovin.a}}
        </td>
        <td>
          {{bovin.enCharge}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>


  <div *ngIf="petitsEnfants" class="petitEnfants">

    <table class="table">
      <thead>
      <tr>
        <th>Petits-enfants</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th scope="col">Numéro d'identification</th>
        <th scope="col">Race</th>
        <th scope="col">Date de naissance</th>
        <th scope="col">Poids à la naissance</th>
        <th scope="col">Nombre de maladies</th>
        <th scope="col">Sur site</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let bovin of petitsEnfants">
        <td>
          {{bovin.numeroInscription}}
        </td>
        <td>
          {{bovin.race.nom}}
        </td>
        <td>
          {{bovin.dateDeNaissance}}
        </td>
        <td>
          {{bovin.poidsNaissance}}
        </td>
        <td>
          {{bovin.a.length}}
        </td>
        <td>
          {{bovin.enCharge}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


