<div *ngIf="!loading">
  <form [formGroup]="formFauche" (ngSubmit)="onSubmit('fauche')">
    <h3>Modification d'une vente</h3>

    <div class="form">

      <mat-form-field appearance="outline" style="padding-right: 10px">
        <mat-label>Champ</mat-label>
        <mat-select formControlName="faucheId" readonly>
          <mat-option [value]="venteFauche.fauche.id">{{venteFauche.fauche.culture.typeDeGrain.nomGrain}} - {{venteFauche.fauche.culture.champ.lieu}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" style="padding-right: 10px">
        <mat-label>Quantité</mat-label>
        <input type="number" matInput formControlName="qtt">
      </mat-form-field>

      <mat-form-field appearance="outline" style="padding-right: 10px">
        <mat-label>Date</mat-label>
        <input type="date" matInput formControlName="date">
      </mat-form-field>

      <mat-form-field appearance="outline" style="padding-right: 10px">
        <mat-label>Prix coutant</mat-label>
        <input type="number" matInput formControlName="prixCoutant">
      </mat-form-field>

      <mat-form-field appearance="outline" style="padding-right: 10px">
        <mat-label>Prix de revente</mat-label>
        <input type="number" matInput formControlName="prixRevente">
      </mat-form-field>

      <button mat-raised-button type="submit" [disabled]="!formFauche.valid">Modifier</button>
    </div>
  </form>
</div>



<div *ngIf="loading">
  ... Loading
</div>
