<div>
  <h2>Paramètres supplémentaires</h2>

  <div class ="grain">
    <h3>Grains</h3>

    <div class = "listeGrain">
      <th>Modifier une race</th>
      <form [formGroup]="formGrainId" class="selection">
        <select formControlName="grainId">
          <option *ngFor="let grain of grains$ | async"
                  [value]="grain.id">{{grain.nomGrain}}</option>
        </select>
      </form>

      <form [formGroup]="formGrain" (submit)="enregistrerModifGrain()" class="selected">
        <td>
          <label>Nom:</label>
          <input type="text" formControlName="nomGrain">
        </td>
        <td>
          <button type="submit" [disabled]="!formGrain.valid || formGrain.untouched">Modifier</button>
        </td>
      </form>
    </div>
    <div class = "addGrain">
      <th>Ajouter une grain:</th>
      <div>
        <td>
          Nom:
        </td>
        <td>
          <input type="text" [(ngModel)]="nomGrain">
        </td>
        <td>
          <button (click)="enregistrerGrain()"> Ajouter </button>
        </td>
      </div>
    </div>
  </div>
</div>
