<div *ngIf="!loading">
  <div *ngIf="venteBovin != undefined">
    <form [formGroup]="formBovin" (ngSubmit)="onSubmit()">
      <h3>Modification d'une vente</h3>

      <div class="form">
        <mat-form-field appearance="outline" style="padding-right: 10px">
          <mat-label>Numéro d'indentification</mat-label>
          <input type="text" matInput formControlName="numeroIdentification" readonly>
        </mat-form-field>

        <mat-form-field appearance="outline" style="padding-right: 10px">
          <mat-label>Quantité (kg)</mat-label>
          <input type="number" matInput formControlName="qtt">
        </mat-form-field>

        <mat-form-field appearance="outline" style="padding-right: 10px">
          <mat-label>Date</mat-label>
          <input type="date" matInput formControlName="date">
        </mat-form-field>

        <mat-form-field appearance="outline" style="padding-right: 10px">
          <mat-label>Prix coutant</mat-label>
          <input type="number" matInput formControlName="prixCoutant">
        </mat-form-field>

        <mat-form-field appearance="outline" style="padding-right: 10px">
          <mat-label>Prix de revente</mat-label>
          <input type="number" matInput formControlName="prixRevente">
        </mat-form-field>

        <button mat-raised-button type="submit" [disabled]="!formBovin.valid">Modifier</button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="loading">
  ...loading
</div>
