.identification{
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  width: 55%
}

.vaccination{
  float: right;
  padding: 20px;
  border: solid 0.5px black;
  border-radius: 5px;
  width: 40%
}

.aCommeMaladie{
  margin-top: 20px;
  padding: 20px;
  float: right;
  width: 40%
}

.infosReproduction{
  padding: 20px;
  float: left;
  width: 55%
}

.infosEngraissement{
  padding: 20px;
  float: left;
  width: 55%
}

